.PTContainer {
    max-width: 1100px;
    margin:auto ;
    padding: 0 3rem;
}
.privacyPolicyContainer p{
    line-height: 2;
    margin: 1rem 0;
    font-size: 1.45rem;
}

@media(max-width:750px){
    .PTContainer {
        padding: 0 2rem;
    }
}

.termsComtainer li {
    line-height: 2;
    margin: 1rem 0;
    font-size: 1.45rem;
}


.cancelation-div {
    padding: 3rem 0;
}

.cancelation-div h2 {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}

.cancelation-div p {
    line-height: 2;
    font-size: 1.45rem;
}

.refunds {
    padding: 3rem 0;
}

.refunds h2 {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}

.refunds p {
    line-height: 2;
    font-size: 1.45rem;
}