.PTContainer {
    max-width: 1100px;
    margin:auto ;
    padding: 0 3rem;
}
.privacyPolicyContainer p{
    line-height: 2;
    margin: 1rem 0;
    font-size: 1.45rem;
}

@media(max-width:750px){
    .PTContainer {
        padding: 0 2rem;
    }
}

.termsComtainer li {
    line-height: 2;
    margin: 1rem 0;
    font-size: 1.45rem;
}
